{% if site.resume_tools_links %}
<ul class="icon-links no-print">
    {% if site.resume_tools_links.resume_pdf_url %}
    <li class="icon-link-item">
        <a href="{{ site.resume_tools_links.resume_pdf_url }}" class="icon-link" itemprop="url" title="Version PDF" target="_blank">{% include icons/icon-pdf.html %}</a>
    </li>
    <br/>{% endif %}
    {% if site.resume_tools_links.resume_github_url %}
    <li class="icon-link-item">
        <a href="{{ site.resume_tools_links.resume_github_url }}" class="icon-link" itemprop="url" title="Dépôt GitLab" target="_blank">{% include icons/icon-github.html %}</a>
    </li>
    <br/>{% endif %}
    {% if site.resume_tools_links.resume_linkedin_url %}
    <li class="icon-link-item">
        <a href="{{ site.resume_tools_links.resume_linkedin_url }}" class="icon-link" itemprop="url" title="Linkedin" target="_blank">{% include icons/icon-linkedin.html %}</a>
    </li>
    <br/>{% endif %}
    {% if site.resume_tools_links.resume_email_url %}
    <li class="icon-link-item">
        <a href="mailto:{{ site.resume_contact_email }}" class="icon-link" itemprop="url" title="contactez-moi">{% include icons/icon-email.html %}</a>
    </li>
    <br/>{% endif %} 
    <li class="icon-link-item">
        {% if site.resume_tools_links.resume_print_url %}
        <a href="{{ site.resume_tools_links.resume_print_url }}" class="icon-link" itemprop="url" title="Imprimer">{% include icons/icon-print.html %}</a>
    </li>{% endif %}
</ul>
{% endif %}
