// Resume styles
// ---------------------------------------/
// util
.section-header {
    @include section_border;
    margin-bottom: 1.5rem;
    h2 {
        @include sans;
        font-weight: 750;
        font-size: 1.50rem;
        letter-spacing: -.05rem;
        margin: 0;
    }
}

// page header styles
.page-header {
    padding: 1.5rem 0;
    .avatar {
        width: 76px;
        max-width: 100%;
        overflow: hidden;
        @include border-radius(100px);
        margin: 0 auto;
        display: block;
    }
    .avatar-text {
        display: table;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: 0 auto;
        @include border-radius(50%);
        background-color: #000000;
        > p {
            @include serif_1;
            color: #ffffff;
            font-size: 26px;
            padding: 0px 12px;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .header-name {
        @include sans;
        font-size: 2.1rem;
        font-weight: 800;
        text-align: center;
        letter-spacing: -.15rem;
        line-height: 1;
        margin: 1rem 0 2rem;
    }
    .header-contact-info {
        @include sans;
        text-align: center;
    }
    .header-contact-info p a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .title-bar {
        @include section_border;
        padding: .4rem 0;
        @include clearfix;
        .header-title {
            @include sans;
            font-weight: 750;
            font-size: 1.50rem;
            line-height: 2rem;
            letter-spacing: -.05rem;
            text-align: center;
            margin: 0 0 .5rem;
            @include media_larger_than_mobile {
                float: left;
                margin: 0;
            }
        }
    }
    .executive-summary {
        @include media_larger_than_mobile {
            font-size: 0.95rem;
        }
    }
}

.icon-links {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 4px;
    text-align: center;
    border-top: 2px solid #c7c7c7;
    padding-top: .4rem;
    @include media_larger_than_mobile {
        float: right;
        border-top: none;
        padding-top: 0;
    }
    .icon-link-item {
        display: inline-block;
        margin-left: 5px;
    }
    .icon-link {
        display: inline-block;
        &:hover .icon path {
            color: #fff;
            fill: #333;
            @include transition(all .2s ease);
        }
    }
}

.contact-button {
    @include border-radius(3px);
    background-color: #333;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    width: 220px;
    font-size: 1.375rem;
    @include sans_light;
    color: #fff;
    line-height: 55px;
    @include transition(all .2s ease);
    &:hover {
        background-color: #333;
        color: #fff;
    }
    &.not-looking {
        width: 400px;
    }
}

// resume content styles
.content-section {
    margin: 0 0 3rem;
    .resume-item {
        margin-bottom: 2rem;
    }
    .resume-item-title {
        @include sans_bold;
        margin: 0 0 .75rem;
        font-size: 1.2rem;
        letter-spacing: -.05rem;
        line-height: 1;
    }
    .resume-item-details {
        font-size: 0.95rem;
        margin: 0 0 .75rem;
        line-height: 1;
    }
    .resume-item-title,
    .resume-item-details,
    .resume-item-copy,
    .resume-item-list {
        a {
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid;
            &:hover {
                border-bottom: none;
                color: #9c9c9c;
            }
        }
    }
    .resume-item-copy {
        margin: .75rem 0 0;
    }
}

// footer styles
.page-footer {
    border-top: 4px solid #c7c7c7;
    padding-top: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
    .footer-line {
        margin: 0;
        font-size: .875rem;
        color: #999;
        > a {
            font-weight: 700;
            color: #333;
        }
    }
}

.print-only {
    display: none !important
}

.projets-list.resume-item-list {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0px;
    li {
        display: block;
        margin: 1px;
        height: 140px;
        position: relative;
        width: 140px;
        text-align: center;
        overflow: hidden;
        >a{
            color: #333;
            text-decoration: none;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            display: table;
            height: 100%;
            max-width: 140px;
            width: 100%;
            border-color: transparent;
            background-color: #c7c7c7;
            @include transition(all .2s ease);
            span{
                @include transition(all .2s ease);
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 900;
                line-height: 1.4;
                padding: 0px 18px;
            } 
            &:hover {
                background-color: #333;
                color: #fff;
                span{
                    opacity: 0;
                }
                i{
                    opacity: 1;
                }
            }
            i{
                @include transition(all .2s ease);
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                opacity: 0;
                > svg{
                    display: block;
                    width: 100%;
                    height: 100%;
                    fill: #ffffff; 
                }
            }
        }
    } 

}

@media print {
    .no-print {
        display: none !important
    }
    .print-only {
        display: block !important
    }
    body {
        font-size: 12px;
        line-height: 1rem;
    }
    .page-header {
        padding: 1rem 0 .2rem;
        .header-name {
            @include sans_bold;
            font-size: 1.75rem;
            margin: 0 0 .2rem;
        }
    }
    .section-header {
        @include section_border_thin;
        margin-bottom: 1rem;
        h2 {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
    .content-section {
        margin: 0 0 1rem;
        .resume-item {
            margin-bottom: 1rem;
        }
        .resume-item-title {
            font-size: 14px;
            line-height: .7em;
        }
        .resume-item-details {
            font-size: 12px;
            margin: 0;
            line-height: .7em;
            font-style: italic;
        }
    }
}
