<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="80px" height="35px" viewBox="0 0 1300 680" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>wm</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path id="path-1" d="M-69.8,1023.54607 L1675.19996,1023.54607 L1675.19996,0 L-69.8,0 L-69.8,1023.54607 L-69.8,1023.54607 Z"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M1300,680 L0,680 L0,0 L1300,0 L1300,680 L1300,680 Z" id="bg" fill="#30353E" sketch:type="MSShapeGroup"></path>
        <g id="gitlab_logo" sketch:type="MSLayerGroup" transform="translate(-262.000000, -172.000000)">
            <g id="g10" transform="translate(872.500000, 512.354581) scale(1, -1) translate(-872.500000, -512.354581) translate(0.000000, 0.290751)">
                <g id="g12" transform="translate(1218.022652, 440.744871)" fill="#8C929D" sketch:type="MSShapeGroup">
                    <path d="M-50.0233338,141.900706 L-69.07059,141.900706 L-69.0100967,0.155858152 L8.04444805,0.155858152 L8.04444805,17.6840847 L-49.9628405,17.6840847 L-50.0233338,141.900706 L-50.0233338,141.900706 Z" id="path14"></path>
                </g>
                <g id="g16">
                    <g id="g18-Clipped">
                        <mask id="mask-2" sketch:name="path22" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="path22"></g>
                        <g id="g18" mask="url(#mask-2)">
                            <g transform="translate(382.736659, 312.879425)">
                                <g id="g24" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(852.718192, 124.992771)">
                                    <path d="M63.9833317,27.9148929 C59.2218085,22.9379001 51.2134221,17.9597442 40.3909323,17.9597442 C25.8888194,17.9597442 20.0453962,25.1013043 20.0453962,34.4074318 C20.0453962,48.4730484 29.7848226,55.1819277 50.5642821,55.1819277 C54.4602853,55.1819277 60.7364685,54.7492469 63.9833317,54.1002256 L63.9833317,27.9148929 L63.9833317,27.9148929 Z M44.2869356,113.827628 C28.9053426,113.827628 14.7975996,108.376082 3.78897657,99.301416 L10.5211864,87.6422957 C18.3131929,92.1866076 27.8374026,96.7320827 41.4728323,96.7320827 C57.0568452,96.7320827 63.9833317,88.7239978 63.9833317,75.3074024 L63.9833317,68.3821827 C60.9528485,69.0312039 54.6766653,69.4650479 50.7806621,69.4650479 C17.4476729,69.4650479 0.565379986,57.7791759 0.565379986,33.3245665 C0.565379986,11.4683685 13.9844297,0.43151772 34.3299658,0.43151772 C48.0351955,0.43151772 61.1692285,6.70771614 65.7143717,16.8780421 L69.1776149,3.02876588 L82.5978279,3.02876588 L82.5978279,75.5237428 C82.5978279,98.462806 72.6408582,113.827628 44.2869356,113.827628 L44.2869356,113.827628 Z" id="path26" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g28" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(959.546624, 124.857151)">
                                    <path d="M37.2266657,17.4468081 C30.0837992,17.4468081 23.8064527,18.3121698 19.0449295,20.4767371 L19.0449295,79.2306079 L19.0449295,86.0464943 C25.538656,91.457331 33.5470425,95.3526217 43.7203922,95.3526217 C62.1173451,95.3526217 69.2602116,82.3687072 69.2602116,61.3767077 C69.2602116,31.5135879 57.7885819,17.4468081 37.2266657,17.4468081 M45.2315622,113.963713 C28.208506,113.963713 19.0449295,102.384849 19.0449295,102.384849 L19.0449295,120.67143 L18.9844362,144.908535 L10.3967097,144.908535 L0.371103324,144.908535 L0.431596656,6.62629771 C9.73826309,2.73100702 22.5081728,0.567602823 36.3611458,0.567602823 C71.8579349,0.567602823 88.9566078,23.2891625 88.9566078,62.4584098 C88.9566078,93.4043948 73.1527248,113.963713 45.2315622,113.963713" id="path30" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g32" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(509.576747, 125.294950)">
                                    <path d="M68.636665,129.10638 C85.5189579,129.10638 96.3414476,123.480366 103.484314,117.853189 L111.669527,132.029302 C100.513161,141.811145 85.5073245,147.06845 69.5021849,147.06845 C29.0274926,147.06845 0.673569983,122.3975 0.673569983,72.6252464 C0.673569983,20.4709215 31.2622559,0.12910638 66.2553217,0.12910638 C83.7879179,0.12910638 98.7227909,4.24073748 108.462217,8.35236859 L108.063194,64.0763105 L108.063194,70.6502677 L108.063194,81.6057001 L56.1168719,81.6057001 L56.1168719,64.0763105 L89.2323178,64.0763105 L89.6313411,21.7701271 C85.3025779,19.6055598 77.7269514,17.8748364 67.554765,17.8748364 C39.4172223,17.8748364 20.5863462,35.5717154 20.5863462,72.8415868 C20.5863462,110.711628 40.0663623,129.10638 68.636665,129.10638" id="path34" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g36" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(692.388992, 124.376085)">
                                    <path d="M19.7766662,145.390067 L1.16216997,145.390067 L1.2226633,121.585642 L1.2226633,111.846834 L1.2226633,106.170806 L1.2226633,96.2656714 L1.2226633,39.5681976 L1.2226633,39.3518572 C1.2226633,16.4127939 11.1796331,1.04797161 39.5335557,1.04797161 C43.4504989,1.04797161 47.2836822,1.40388649 51.0051854,2.07965952 L51.0051854,18.7925385 C48.3109055,18.3796307 45.4351455,18.1446804 42.3476589,18.1446804 C26.763646,18.1446804 19.8371595,26.1516022 19.8371595,39.5681976 L19.8371595,96.2656714 L51.0051854,96.2656714 L51.0051854,111.846834 L19.8371595,111.846834 L19.7766662,145.390067 L19.7766662,145.390067 Z" id="path38" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                </g>
                                <path d="M646.318899,128.021188 L664.933395,128.021188 L664.933395,236.223966 L646.318899,236.223966 L646.318899,128.021188 L646.318899,128.021188 Z" id="path40" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                <path d="M646.318899,251.154944 L664.933395,251.154944 L664.933395,269.766036 L646.318899,269.766036 L646.318899,251.154944 L646.318899,251.154944 Z" id="path42" fill="#8C929D" sketch:type="MSShapeGroup"></path>
                                <g id="g44" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(0.464170, 0.676006)">
                                    <path d="M429.269989,169.815599 L405.225053,243.802859 L357.571431,390.440955 C355.120288,397.984955 344.444378,397.984955 341.992071,390.440955 L294.337286,243.802859 L136.094873,243.802859 L88.4389245,390.440955 C85.9877812,397.984955 75.3118715,397.984955 72.8595648,390.440955 L25.2059427,243.802859 L1.16216997,169.815599 C-1.03187664,163.067173 1.37156997,155.674379 7.11261982,151.503429 L215.215498,0.336141836 L423.319539,151.503429 C429.060589,155.674379 431.462873,163.067173 429.269989,169.815599" id="path46" fill="#FC6D26" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g48" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(135.410135, 1.012147)">
                                    <path d="M80.269998,0 L80.269998,0 L159.391786,243.466717 L1.14820997,243.466717 L80.269998,0 L80.269998,0 Z" id="path50" fill="#E24329" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g52" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(215.680133, 1.012147)">
                                    <g id="path54"></g>
                                </g>
                                <g id="g56" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(24.893471, 1.012613)">
                                    <path d="M190.786662,0 L111.664874,243.465554 L0.777106647,243.465554 L190.786662,0 L190.786662,0 Z" id="path58" fill="#FC6D26" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g60" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(215.680133, 1.012613)">
                                    <g id="path62"></g>
                                </g>
                                <g id="g64" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(0.077245, 0.223203)">
                                    <path d="M25.5933327,244.255313 L25.5933327,244.255313 L1.54839663,170.268052 C-0.644486651,163.519627 1.75779662,156.126833 7.50000981,151.957046 L215.602888,0.789758846 L25.5933327,244.255313 L25.5933327,244.255313 Z" id="path66" fill="#FCA326" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g68" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(215.680133, 1.012147)">
                                    <g id="path70"></g>
                                </g>
                                <g id="g72" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(25.670578, 244.478283)">
                                    <path d="M0,0 L110.887767,0 L63.2329818,146.638096 C60.7806751,154.183259 50.1047654,154.183259 47.6536221,146.638096 L0,0 L0,0 Z" id="path74" fill="#E24329" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g76" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(215.680133, 1.012613)">
                                    <path d="M0,0 L79.121788,243.465554 L190.009555,243.465554 L0,0 L0,0 Z" id="path78" fill="#FC6D26" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g80" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(214.902910, 0.223203)">
                                    <path d="M190.786662,244.255313 L190.786662,244.255313 L214.831598,170.268052 C217.024481,163.519627 214.622198,156.126833 208.879985,151.957046 L0.777106647,0.789758846 L190.786662,244.255313 L190.786662,244.255313 Z" id="path82" fill="#FCA326" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g84" stroke-width="1" fill="none" sketch:type="MSLayerGroup" transform="translate(294.009575, 244.478283)">
                                    <path d="M111.679997,0 L0.79222998,0 L48.4470155,146.638096 C50.8993221,154.183259 61.5752318,154.183259 64.0263751,146.638096 L111.679997,0 L111.679997,0 Z" id="path86" fill="#E24329" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
