<!DOCTYPE html>
<html>
{% include head.html %}

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
        <header class="page-header">
            <span class="no-print">{% include icon-tools.html %}</span>
            <!-- You can turn off the avatar in _config.yml by setting to false -->
            {% if site.resume_avatar == 'true' %}
            <!--<img src="images/avatar1.png" alt="my photo" class="avatar no-print" itemprop="image"> {% endif %}-->
            <div class="avatar-text">
                <p>{ dev }</p>
            </div>
            <!-- Your name is defined in the _config.yml file -->
            <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
            <!-- Contact buttons don't work in print, configure in the _config.yml file, remove "print-only" to display always. -->
            <div class="header-contact-info" itemprop="contact-info">
                <p>{{ site.resume_header_contact_info }}</p>
            </div>
            <div class="title-bar">
                <!-- Your title is also defined in the _config.yml file -->
                <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
                <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
                <div class="no-print">
                    {% include icon-links.html %}
                </div>
            </div>
            <div class="executive-summary" itemprop="description">
                {{ site.resume_header_intro }}
            </div>
            {% if site.resume_looking_for_work == 'yes' %}
            <!-- <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>-->
            {% elsif site.resume_looking_for_work == 'no' %}
            <a class="contact-button not-looking no-print">I'm not looking for work right now.</a> {% else %} {% endif %}
        </header>

        <!-- begin Projects - Links -->
        {% if site.resume_section_links %}
        <section class="content-section">
            <header class="section-header">
                <h2>Quelques Réalisations Professionnelles</h2>
                <!-- <p>Création des sites web responsives et autogérables sur mesure (SCSS/PHP-POO/MVC - Joomla CMS)</p> -->
            </header>
            <div class="resume-item">
                <ul class="resume-item-list projets-list">
                    {% for link in site.data.links %}
                    <li><a href={{ link.url }} target="_blank"><span>{{ link.description }}</span><i>{% include icons/icon-more-more.html %}</i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %}
        <!-- end Projects - Links -->

        <!-- begin Education -->
        {% if site.resume_section_education %}
        <section class="content-section">
            <header class="section-header">
                <h2>Formation Académique</h2>
            </header>
            {% for education in site.data.education %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
                <h3 class="resume-item-title" itemprop="name">{{ education.degree }}</h3>
                <h4 class="resume-item-details" itemprop="description"><span style="display: block; float:left;">{{ education.uni }}</span><span style="display: block; float:right;">{{ education.year }}</span></h4>
                <br/>
                <p class="resume-item-copy" itemprop="description"><span style="display: block; float:right;"><strong>{{ education.place }}</strong></span></p>
                <br/>
                <p class="resume-item-copy">{{ education.summary }}</p>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        <!-- end Education -->

        <!-- begin Projects -->
        {% if site.resume_section_projects %}
        <section class="content-section">
            <header class="section-header">
                <h2>Réalisations</h2>
            </header>
            {% for project in site.data.projects %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <spam class="icon-links icon-link-item no-print">
                    <a href="{{ project.link }}" class="icon-link" itemprop="url" title="savoir plus" target="_blank">{% include icons/icon-link.html %}</a>
                </spam>
                <h3 class="resume-item-title" itemprop="name"><a href="{{ project.link }}" target="_blank">{{ project.project }}</a></h3>
                <h4 class="resume-item-details" itemprop="description"><span style="display: block; float:left;">{{ project.role }}</span><span style="display: block; float:right;">{{ project.duration }}</span></h4>
                <br/>
                <p class="resume-item-copy" style="clear: both;">{{ project.description }}</p>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        <!-- end Projects -->

        <!-- begin Experience -->
        {% if site.resume_section_experience %} 
        <section class="content-section">
            <header class="section-header">
                <h2>Expériences Professionnelles</h2>
            </header>
            {% for job in site.data.experience %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
                <h4 class="resume-item-details" itemprop="description"><span style="display: block; float:left;">{{ job.position }}</span><span style="display: block; float:right;">{{ job.duration }}</span></h4>
                <br/>
                <p class="resume-item-copy" itemprop="description"><span style="display: block; float:right;"><strong>{{ job.place }}</strong></span></p>
                <br/>
                <p class="resume-item-copy" style="clear: both;">{{ job.summary }}</p>
            </div>
            <!-- end of resume-item -->
            {% endfor %}
        </section>
        {% endif %}
        <!-- end Experience -->
        
        <!-- begin Skills -->
        {% if site.resume_section_skills %}
        <section class="content-section">
            <header class="section-header">
                <h2>Perfectionnement</h2>
            </header>
            {% for skill in site.data.skills %}
            <div class="resume-item">
                <h4 class="resume-item-details">{{ skill.skill }}</h4>
                <p class="resume-item-copy">{{ skill.description }}</p>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        <!-- end Skills -->
        
        {% if site.resume_section_recognition %}
        <!-- begin Recognition -->
        <section class="content-section">
            <header class="section-header">
                <h2>Recognition</h2>
            </header>
            {% for recognition in site.data.recognitions %}
            <div class="resume-item">
                <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
                <h4 class="resume-item-details">{{ recognition.organisation }} &bull; {{ recognition.year }}</h4>
                <p class="resume-item-copy">{{ recognition.summary }}</p>
            </div>
            {% endfor %}
        </section>
        <!-- end Recognition -->
        {% endif %}
        
        {% if site.resume_section_associations %}
        <!-- begin Associations -->
        <section class="content-section">
            <header class="section-header">
                <h2>Associations</h2>
            </header>
            {% for association in site.data.associations %}
            <div class="resume-item">
                <h3 class="resume-item-title"><a href="http://beerfortheworld.com">{{ association.organisation }}</a></h3>
                <h4 class="resume-item-details">{{ association.role }} &bull; {{ association.year }}</h4>
                <p class="resume-item-copy">{{ association.summary }}</p>
            </div>
            {% endfor %}
        </section>
        <!-- end Associations -->
        {% endif %} 

        {% if site.resume_print_social_links %}
        <!-- begin Print Social Links -->
        <section class="content-section print-only">
            <header class="section-header">
                <h2>Social Links</h2>
            </header>
            <div class="resume-item">
                {% include print-social-links.html %}
            </div>
        </section>
        <!-- end Print Social Links -->
        {% endif %}
        <footer class="page-footer">
            <!--<p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>-->
            <p class="footer-line"><strong>*Références fournies sur demande</strong></p>
            <p class="footer-line no-print">&copy; Claudia Estevez 2020</p>
        </footer>
    </div>
</body>

</html>
